<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org
  http://www.ultraq.net.nz/thymeleaf/layout http://www.ultraq.net.nz/thymeleaf/layout
  http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="/css/style.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
        crossorigin="anonymous">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=KoHo:wght@300&display=swap" rel="stylesheet">

  <style>
      body {
        font-family: 'KoHo', sans-serif;
      }
    </style>

  <title>Pre-Pour Menu</title>
</head>
<body>

<!--BANNER & NAVBAR-->
<div th:replace = "fragments/fragments"></div>

<div class = "container">
  <!--Table for menu-->

  <table class="table table-striped table-hover">
    <thead>
    <!--MENU HEADER-->
    <tr class = "shop-header">
      <th>Beer</th>
      <th>Type</th>
      <th>Abv</th>
      <th>Price</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <form th:action = "@{/customer/customertab/}" method = "post">
    <tr th:each="item : ${tabitem}" class = "shop-item">
      <td th:text = "${item.name}" class="shop-item-title">
        <input type="hidden" name="name" class="form-control fs-4" id="name" th:field="${item.name}">
        <input type="hidden" name="id" class="form-control fs-4" id="id" th:field="${item.id}"></td>

      <td th:text = "${item.type}" class = "shop-item-type">
        <input type="hidden" name="type" class="form-control fs-4" id="type" th:field="${item.type}"></td>

      <td th:text = "${item.abv}">
        <input type="hidden" name="abv" class="form-control fs-4" id="abv" th:field="${item.abv}"></td>

      <td th:text = "${item.price}" class="shop-item-price">
        <input type="hidden" name="price" class="form-control fs-4" id="price" th:field="${item.price}"></td>

      <td th:text = "${item.quantity}" class="shop-item-quantity">
        <input type="hidden" name="quantity" class="form-control fs-4" id="quantity" th:field="${item.quantity}"></td>

      <td><button type="submit" class="btn btn-dark menuItemButton">Add</button></td>
    </tr>
    </form>


    </tbody>
  </table>

  <span class = "cart-header"><h1>Cart</h1></span>

  <div class = "cart-row">
    <span class = "cart-item cart-header cart-column">ITEM</span>
    <span class = "cart-type cart-header cart-column" >TYPE</span>
    <span class = "cart-price cart-header cart-column">PRICE</span>
  </div>

    <div th:each = "item : ${tab}" class = "cart-items">
      <span th:text = "${name}" class = "cart-item cart-header cart-column">ITEM</span>
      <span th:text = "${type}" class = "cart-type cart-header cart-column" >TYPE</span>
      <span th:text = "${price}" class = "cart-price cart-header cart-column">PRICE</span>
    </div>

  <div class="cart-total">
    <strong class="cart-total-title">Total</strong>
    <span class="cart-total-price">$0</span>
  </div>
</div>
<form th:action = "@{'/customer/receipt/' + ${customerId}}" method = "post">
  <button class="btn btn-success btn-purchase" type="button">PURCHASE</button></form>

  <script th:src= "@{/js/menu.js}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
          crossorigin="anonymous"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</body>
</html>